<!DOCTYPE html>
<html lang="en">

<title>insta485</title>

<body>
    <div>
        <a href="/">Home Page</a>
    </div>
    <div>
        <a href="/explore/">Explore</a>
        <a href="/users/{{logname}}/">{{logname}}</a>
    </div>

    <ul>
        {% for post in posts %}
        <li>
            <div>
                <a href="/users/{{post.owner}}/">
                    <img src="/uploads/{{post.owner_img_url}}" alt="{{post.owner}}">
                    <div> {{post.owner}} </div>
                </a>
            </div>
            <div>
                <a href="/posts/{{post.postid}}/">{{post.timestamp}}</a>
            </div>
            <div>
                <img src="/uploads/{{post.img_url}}" alt="{{post.owner}}'s post">
            </div>
            <div>
                {{post.likes}} {% if post.likes == 1 %} like {% else %} likes {% endif %}
            </div>

            {% for comment in post.comments %}
            <div>
                <a href="/users/{{comment.owner}}/">
                    {{comment.owner}}
                </a>
                {{comment.text}}
            </div>
            {% endfor %}

            {% if post.ifliked %}
            <form action="/likes/?target=/" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="unlike" />
                <input type="hidden" name="postid" value="{{post.postid}}" />
                <input type="submit" name="unlike" value="unlike" />
            </form>
            {% else %}
            <form action="/likes/?target=/" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="like" />
                <input type="hidden" name="postid" value="{{post.postid}}" />
                <input type="submit" name="like" value="like" />
            </form>
            {% endif %}

            <form action="/comments/?target=/" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="create" />
                <input type="hidden" name="postid" value="{{post.postid}}" />
                <input type="text" name="text" required />
                <input type="submit" name="comment" value="comment" />
            </form>
        </li>
        {% endfor %}

    </ul>

</body>

</html>