<!DOCTYPE html>
<html lang="en">

<title>insta485</title>

<body>
    <div>
        <a href="/">Home Page</a>
    </div>
    <div>
        <a href="/explore/">Explore</a>
        <a href="/users/{{logname}}/">{{logname}}</a>
    </div>

    <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
        <label for="password">Old password</label>
        <input type="password" id="password" name="password" required />
        <label for="new_password1">New password</label>
        <input type="password" id="new_password1" name="new_password1" required />
        <label for="new_password2">New password, again</label>
        <input type="password" id="new_password2" name="new_password2" required />
        <input type="submit" name="update_password" value="submit" />
        <input type="hidden" name="operation" value="update_password" />
    </form>

    <div>
        <a href="/accounts/password/">Back to edit account</a>
    </div>

    <div>
        <a href="/accounts/delete/">Delete account</a>
    </div>

</body>

</html>